:root{
  --main-padding: 30px;
  --main-margin: 0 30px 0 30px;
  --navbar-margin: 0 200px 0 200px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: var(--navbar-margin);
}

.section-landing{
  text-align: center;
}
.landing-logo{
  width: 60%;
}

.text-align{
  text-align: center;
}
.flex-about{
  display: flex;
}

.psychologist1{
  display: flex;
}
.psychologist2{
  display: flex;
  flex-direction: row-reverse;
}
.services-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.services{
  margin-left: 30px;
  height: 100px;
  width: 100px;
  background-color: blueviolet;
}

.section-quote{
  text-align: center;
}
.input-bottom{
  display: flex;
}

footer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-logo{
  width: 10%;
}


